.equipo{
    
    background-color: #D9F7E9;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left: 10%;
    padding-right: 10%;
    position: relative;
}

.equipo__titulo{
    width: fit-content;
    margin-bottom:1rem;
    margin-left:auto;
    margin-right: auto;
    text-align: center;
    font-size: 2rem;
    font-family: 'Prata', serif;
    padding-bottom: 10px;
    color:#212121;
    border-bottom: 4px solid #57C278;
    
}

.equipo__colaboradores{
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    row-gap: 1rem;
}


.equipo__contenedorColor{
    position: absolute;
    right: 0rem;
    display:flex;
    align-items: center;
}

.equipo__contenedorColor__titulo{
    display:none;
    
}
.equipo__contenedorColor__titulo img{
    width:1.5rem;
}

.equipo__seleccionarColor{
    cursor: pointer;
}

@media screen and (min-width:550px){
   
    .equipo__contenedorColor{
        right: 2rem;
    }
 
}
@media screen and (min-width:768px){
   
    .equipo__contenedorColor__titulo{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        display: flex;
        align-items: center;
    }

 
}