.formulario{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin:40px 0;
    row-gap: 2rem;

}

.formulario form{
    margin: 0 auto;
    width: 80%;
    border-radius: 20px;
    background: #F6F6F6;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 25%);
    padding: 8px 10%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.formulario h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size:1.5rem;
    font-weight: 400;
    color: #212121;
    text-align: center;
}

.boton{
    font-size: 1rem;
    align-self: center;
}


.swal-text{
    text-align: center;
    color:black;
    font-family: 'Montserrat',sans-serif;
}

@media screen and (min-width:768px){
    .formulario{
        flex-direction: row;
    }
    .formulario form{
        width: 45%;
        padding: 8px 5%;
    }
    .formulario h2{
        font-size:2rem;
        text-align: center;
    }
    .boton{
        width:auto;
        font-size: 1.2rem;
    }
}