.orgSection{
    width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: static;
    
}

.orgSection .titulo{
    color:#6278F7;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 10px;
    border-bottom: 4px solid #6278F7;
    margin: auto;

}

.orgSection img{
    position: absolute;
    right: 0;
    cursor:pointer;
    width:15%;
}


@media screen and (min-width:550px){
   
   
    .orgSection .titulo{
        font-size: 2.5rem;
        padding-bottom: 24px;
    }
    .orgSection img{
        width:auto;
    }
 
}

@media screen and (min-width:768px){
   
    .orgSection{
        position: relative;
    }

 
}